@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

.nav {
    background-color: bisque; 
    margin-bottom: 1vh;
    padding: 5px;
} 

.nav_link {
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    font-size: 24px;
    margin-right: 15px;
    display: inline;
}

.nav_link:hover {
    background-color: rgb(221, 214, 204);

}

.login_signup_container {
    float: right;
}