@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

.nav {
    background-color: bisque; 
    margin-bottom: 1vh;
    padding: 5px;
    position: fixed;
    width: 100vw;
    margin-bottom: auto;
    
    
} 

.nav_link {
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    font-size: 24px;
    margin-right: 15px;
    display: inline-block;
}

.nav_link:hover {
    background-color: rgb(221, 214, 204);

}

.login_signup_container {
    /* float: right;
    position: relative; */
    display: inline-block;

}

.account_container {
    display: inline-block;
    margin-right: 20px;
}

.account_container img {
    border: 4px solid grey;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: right;
}

.account_container p {
    float: right;
}

@media only screen and (max-width: 600px) {


   .nav_container  .nav_link  {
        display: none;
    }

    .account_container p {
        display: none;
    }


}